@keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }

  @mixin alerted() {
    &:before {
      content: '';
      position: absolute;
      top: 6px; right: 6px;
      height: 8px; width: 8px;
      @include border-radius(10px);
      background-color: gold;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0; right: 0;
      height: 20px; width: 20px;
      @include border-radius(20px);
      background-color: transparent;
      border: solid gold;
      border-width: 2px; // animates
      @include box-sizing(border-box);
      @include animation($name: alertMe);
    }
  }
  
  @keyframes alertMe {
    // -vendor prefixes omitted for brevity, but should be used in production
    from {
      border-width: 3px;
      border-color: gold;
    }
    to {
      border-width: 0;
      border-color: rgba(gold, .1);
    }

  }  

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}